/* colors.css */
:root {
    --background-color: #1b353f;

    --sidebar-background-color: #264b5a;
    --sidebar-text-color: #00ff7f;
    
    --content-background-color: #264b5a;
    --content-text-color: #00ff7f;

    --scrollbar-thumb-color: #00ff7f; /* Customize this color */
    --scrollbar-track-color: #1b353f; /* Customize this color */

    --nav-background-color: #264b5a;
    --nav-text-color: #00ff7f;
    --link-color: #00ff7f;
    --link-hover-color: #1b353f;

    --border-color: #00ff7f;
    --border-radius: 10px;
    --border-width: 5px;
}

/* Add this CSS to your stylesheet or in a <style> element in the <head> of your HTML document */

.logo {
    width: 1em; /* Set the width to the size of one 'em' unit */
    height: 1em; /* Set the height to the size of one 'em' unit */
    vertical-align: middle; /* Align the logo vertically with the text */
    margin-right: 0.2em; /* Add some spacing between the logo and text */
}
