/* index.css */
* {
    box-sizing: border-box;
}

body, h1, h2, ul, li, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color); /* Use the color variable */
}

header {
    background-color: var(--background-color); /* Use the color variable */
    color: var(--nav-text-color); /* Use the color variable */
    text-align: center;
    padding: 1em;
}

nav {
    background-color: var(--nav-background-color); /* Use the color variable */
    text-align: center;
    padding: 1em;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
}

nav a {
    text-decoration: none;
    color: var(--nav-text-color); /* Use the color variable */
    padding: 10px 20px;
    border: var(--border-width) solid var(--nav-text-color); /* Use the color variables */
    border-radius: var(--border-radius); /* Use the color variable */
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    background-color: var(--link-hover-color); /* Use the color variable */
    color: var(--link-color); /* Use the color variable */
}

footer {
    text-align: center;
    padding: 1em;
    background-color: var(--nav-background); /* Use the color variable */
    color: var(--nav-text-color); /* Use the color variable */
}

@media (orientation: portrait) {
    nav li {
        display: block;
        margin: 0 auto 15px;
        text-align: center; /* Add text-align to center the text */
    }

    nav a {
        display: block;
        width: calc(100%);
        text-align: center; /* Add text-align to center the text */
    }
}
