.container {
    display: flex;
    gap: 20px;
    margin: 20px;
}

.sidebar {
    flex: 1;
    background-color: #eee;
    padding: 10px;
}

.content {
    flex: 3;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.author-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.author-list li:hover .song-list {
    display: block;
}

.author-list li {
    margin-bottom: 10px;
}

.song-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none; /* Hide song list by default */
}

.song-list li {
    margin-left: 15px;
}

.nested-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nested-list label {
    cursor: pointer;
}

.nested-list a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.nested-list a:hover {
    background-color: #f0f0f0;
}

section {
    display: none;
}

:target {
    display: block;
}

