/* Class to keep the chords position from the text */
.multiline-text {
    font-family: "Courier New", monospace;
    word-wrap: break-word;
    white-space: pre;
    font-size: 1em;
    max-height: 90vh;
    overflow: auto;
    word-break: break-all;
    margin-left: -20ch;
}

body {
    background-color: var(--background-color);
}

h1, h2 {
    text-align: center;
}

nav {
    margin: 10px;
    background-color: var(--nav-background);
    text-align: center;
    padding: 1em;
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);
}

nav ul {
    list-style: none;
    
}

nav li {
    display: inline-block;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: var(--nav-text-color);
    padding: 10px 20px;
    border: var(--border-width) solid var(--nav-text-color);
    border-radius: var(--border-radius);
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    background-color: var(--link-hover-color);
    color: var(--link-color);
}

.container {
    display: flex;
    margin: 10px;
}

.sidebar {
    flex: 1;
    background-color: var(--sidebar-background);
    color: var(--sidebar-text-color);
    padding: 10px;
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);
}

.sidebar a {
    text-decoration: none;
    color: inherit;
}

.content {
    overflow-x: auto;
    flex: 9;
    padding: 10px;
    background-color: var(--content-background);
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);
}

.author-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.author-list li:hover .song-list {
    display: block;
}

.author-list li {
    margin-bottom: 10px;
}

.song-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.song-list li {
    margin-left: 15px;
}

.nested-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nested-list label {
    cursor: pointer;
}

.nested-list a {
    text-decoration: none;
    color: var(--link-color);
    display: block;
    padding: 5px;
    border-bottom: var(--border-width) solid var(--border-color);
}

.nested-list a:hover {
    background-color: #f0f0f0;
}

section {
    display: none;
}

:target {
    display: block;
}

@media (orientation: portrait) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .sidebar {
        flex: 1;
        width: 100%;
    }

    .content {
        flex: 3;
        width: calc(100% - 20px);
        margin-top: 20px;
        overflow-x: hidden;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    nav a {
        display: block;
        width: calc(100% - 40px);
        margin-bottom: 10px;
    }

    .multiline-text {
        font-size: min(1em, 3vw);
    }
}

@media (orientation: landscape) {
    .multiline-text {
        font-size: min(1em, 3vw);
    }
}
