/* Class to keep the chords posistion from the txt*/
.multiline-text {  
    font-family: "Courier New", monospace;
    word-wrap: break-word;
    white-space: pre;
    
    font-size: min(calc(1.5vw + 10px), 20px); /* Adjust maximum font size as needed */
    max-height: 90vh; /* Set a maximum height for the lyrics section */
    overflow: auto;   /* Enable scrolling when content overflows */
    word-break: break-all;

    margin-left: -20ch; /* 4 characters per tab; 5tabs = 20ch */
}

body{
    background-color: LightSeaGreen;
}

h1,h2{
    text-align: center;
}

nav {
    margin: 10px;
    background-color: lightblue; /* Changed to light blue */
    text-align: center;
    padding: 1em; /* Increased padding for bigger buttons */
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin-right: 15px; /* Increased margin for bigger buttons */
}

nav a {
    text-decoration: none;
    color: #333; /* Changed text color for better readability */
    padding: 10px 20px; /* Increased padding for bigger buttons */
    border: 1px solid #333; /* Improved border color for contrast */
    border-radius: 10px; /* Increased border-radius for rounder buttons */
    transition: background-color 0.3s, color 0.3s; /* Added transition for smoother hover effect */
}

nav a:hover {
    background-color: #333; /* Highlight background color */
    color: #fff; /* Highlight text color */
}

.container {
    display: flex;
    margin: 10px;
}

.sidebar {
    flex: 1;
    background-color: LightSeaGreen;
    color: White;
    padding: 10px;
}

.content {
    flex: 3;
    padding: 10px;
    background-color: LightBlue;
    border: 1px solid #ddd;
}

.author-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.author-list li:hover .song-list {
    display: block;
    
}

.author-list li {
    margin-bottom: 10px;
}

.song-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none; /* Hide song list by default */
}

.song-list li {
    margin-left: 15px;
}

.nested-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nested-list label {
    cursor: pointer;
}

.nested-list a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.nested-list a:hover {
    background-color: #f0f0f0;
}

section {
    display: none;
}

:target {
    display: block;
}

@media (orientation: portrait) {
    .multiline-text {
        font-size: 10px; /* Adjust maximum font size as needed */
    }

    .container {
        flex-direction: column;
        align-items: center; /* Center content horizontally */
    }

    .sidebar, .content {
        flex: 1; /* Equal height columns */
        width: 100%; /* Take up full width */
    }

    .content {
        margin-top: 20px; /* Add some spacing from the sidebar */
        width: calc(100% - 20px); /* Considering 20px padding on each side */
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center; /* Center buttons horizontally */
        margin-top: 20px; /* Add some spacing from the content */
    }

    nav a {
        display: block; /* Change to block layout for vertical buttons */
        /* Adjust width to ensure the padding and border don't cause overflow */
        width: calc(100% - 40px); /* Considering 20px padding on each side */
        margin-bottom: 10px; /* Add spacing between buttons */
    }
}

